@using Bonobo.Git.Server.Extensions
@using MvcCheckBoxList.Model
@model Bonobo.Git.Server.Models.RepositoryDetailModel

@{
    ViewBag.Title = Resources.Repository_Edit_Title;
}

@if (Model == null)
{
    @Html.Partial("~/Views/Shared/_ItemNotFound.cshtml")
}
else
{
    <text>
        <h1>
            @Html.Raw(Model.Logo.Exists ? string.Format("<img src='data:image/png;base64,{0}' class='repo-logo' />", Model.Logo.Base64Image) : "")
            @Model.Name
        </h1>

        @if (ViewBag.UpdateSuccess != null && ViewBag.UpdateSuccess)
        {
            <div class="summary-success">
                <p>@Resources.Repository_Edit_UpdateSuccess</p>
            </div>
        }

        @using (Html.BeginForm("Edit", "Repository", FormMethod.Post, new { @class = "pure-form pure-form-aligned", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(false, Resources.Repository_Edit_Fail)
            @Html.HiddenFor(m => m.Id)

<fieldset>
    <div class="pure-control-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name)
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="pure-control-group">
        @Html.LabelFor(m => m.Group)
        @Html.TextBoxFor(m => m.Group, new { @class = "medium" })
    </div>
    <div class="pure-control-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextAreaFor(m => m.Description, new { @class = "medium" })
    </div>

    <div class="pure-control-group">
        @Html.LabelFor(m => m.Logo.PostedFile)
        <input type="file" name="Logo.PostedFile" id="Logo_PostedFile" />
        <sup>.png, .jpg, .jpeg, .gif</sup>
    </div>

    <div class="pure-control-group">
        @Html.LabelFor(m => m.Logo.RemoveLogo)
        @Html.CheckBoxFor(m => m.Logo.RemoveLogo)
    </div>
    <div class="pure-control-group">
        @Html.LabelFor(m => m.AllowAnonymous)
        @Html.CheckBoxFor(m => m.AllowAnonymous, new { @onClick = "document.getElementById('AllowAnonymousPush').disabled = !this.checked" })
        <i class="fa fa-info-circle" title="@Resources.Repository_AllowAnonymousHint"></i>
    </div>

    <div class="pure-control-group">
        @Html.LabelFor(m => m.AllowAnonymousPush)
        @{
            object attribs = new { @id = "AllowAnonymousPush" };
            if (!Model.AllowAnonymous)
            {
                attribs = new { @id = "AllowAnonymousPush", @disabled = "" };
            }
        }
        @Html.EnumDropDownListFor(m => m.AllowAnonymousPush, attribs)
        <i class="fa fa-info-circle" title="@Resources.Repository_AllowAnonymousPushHint"></i>
    </div>

    @if (AppSettings.IsPushAuditEnabled)
    {
        <div class="pure-control-group">
            @Html.LabelFor(m => m.AuditPushUser)
            @Html.CheckBoxFor(m => m.AuditPushUser)
            <i class="fa fa-info-circle" title="@Resources.Repository_AuditPushUserHint"></i>
        </div>
    }

    @if (Model.AreRegexLinksVisible)
    {
        <div class="pure-control-group">
            @Html.LabelFor(m => m.LinksUseGlobal)
            @Html.CheckBoxFor(m => m.LinksUseGlobal, new
       {
           @onClick = "document.getElementById('LinksRegex').disabled = this.checked; " +
 "document.getElementById('LinksUrl').disabled =  this.checked; " +
 "document.getElementById('LinksRegex').disabled? document.getElementById('LinksRegex').value = '': ''; " +
 "document.getElementById('LinksUrl').disabled? document.getElementById('LinksUrl').value = '': '';"
       })
        </div>
        <div class="pure-control-group">
            @Html.LabelFor(m => m.LinksRegex)
            @{
                attribs = new { @class = "medium" };
                if (Model.LinksUseGlobal)
                {
                    attribs = new { @class = "medium", disabled = "" };
                }
                @Html.TextBoxFor(m => m.LinksRegex, attribs);
                @Html.ValidationMessageFor(m => m.LinksRegex);
            }
        </div>
        <div class="pure-control-group">
            @Html.LabelFor(m => m.LinksUrl)
            @Html.TextBoxFor(m => m.LinksUrl, attribs)
            <i class="fa fa-info-circle" title="@Resources.Settings_Global_LinksUrl_Hint"></i>
        </div>
                }

    <div class="pure-control-group checkboxlist">
        @Html.LabelFor(m => m.Users)
        <span>
            @Html.CheckBoxListFor(m => m.PostedSelectedUsers, m => m.AllUsers, m => m.Id, m => m.DisplayName, m => m.Users, Position.Vertical)
        </span>
        <i class="fa fa-info-circle" title="@Resources.Repository_UsersHint"></i>
    </div>

    <div class="pure-control-group checkboxlist">
        @Html.LabelFor(m => m.Administrators)
        <span>
            @Html.CheckBoxListFor(m => m.PostedSelectedAdministrators, m => m.AllAdministrators, m => m.Id, m => m.DisplayName, m => m.Administrators, Position.Vertical)
        </span>
        <i class="fa fa-info-circle" title="@Resources.Repository_AdministratorsHint"></i>
        @Html.ValidationMessageFor(m => m.Administrators)
    </div>

    <div class="pure-control-group checkboxlist">
        @Html.LabelFor(m => m.Teams)
        <span>
            @Html.CheckBoxListFor(m => m.PostedSelectedTeams, m => m.AllTeams, mm => mm.Id, mm => mm.DisplayName, mm => mm.Teams, Position.Vertical)
        </span>
        <i class="fa fa-info-circle" title="@Resources.Repository_TeamsHint"></i>
    </div>

    <fieldset class="pure-control-group">
        <legend style="padding-top: 30px;">
            @Resources.SA
        </legend>
       
        @if (Model != null)
        {   <table class="pure-table pure-control-group" id="service-account-table">
        <tr>
            <th>@Resources.SA_Name</th>
            <th>@Resources.SA_PassLastUpdated</th>
            <th>@Resources.SA_InPassManager</th>
        </tr>     
    @for (int i = 0; i < Model.ServiceAccounts.Count; i++)
    {
        var id = "ServiceAccounts_" + i;
        var btnId = "ServiceAccountBtn_" + i;
        <tr class="row service-account-details" id="@id">
            <th class=" col pure-control-group">
                @*@Html.LabelFor(m => m.ServiceAccounts[i].ServiceAccountName)*@
                @Html.TextBoxFor(m => m.ServiceAccounts[i].ServiceAccountName, htmlAttributes: new { @style = "width: 250px;" })
                @Html.ValidationMessageFor(m => m.ServiceAccounts[i].ServiceAccountName)
                @{ }
            </th>
            <th class="col pure-control-group">
                @*@Html.LabelFor(m => m.ServiceAccounts[i].PassLastUpdated)*@
                @*@Html.TextBoxFor(m => m.ServiceAccounts[i].PassLastUpdated)*@
                @{var saId = "ServiceAccounts_" + i + "__.PassLastUpdated";
                    var formattedDate = "1900-01-01";
                    if (Model.ServiceAccounts[i].PassLastUpdated != null)
                    {
                        var dateValue = Model.ServiceAccounts[i].PassLastUpdated.ToString().Split('/');
                        formattedDate = dateValue[2].Substring(0, 4) + "-" + (dateValue[0].Length == 1 ? "0" + dateValue[0] : dateValue[0]) + "-" + (dateValue[1].Length == 1 ? "0" + dateValue[1] : dateValue[1]);
                    }
                <input class="form-control" type="date" id="@saId" name="ServiceAccounts[@i].PassLastUpdated" value="@formattedDate" onfocus="console.log(this.value)" />
                  }
                @Html.ValidationMessageFor(m => m.ServiceAccounts[i].PassLastUpdated)
            </th>
            <th class="col pure-control-group">
                @*@Html.LabelFor(m => m.ServiceAccounts[i].InPassManager)*@
                @Html.CheckBoxFor(m => m.ServiceAccounts[i].InPassManager)
                @Html.ValidationMessageFor(m => m.ServiceAccounts[i].InPassManager)
            </th>
            <th>
                <button type="button" onclick=" remField(this.id);" id="@btnId" title="Remove Service Account" style="background-color: white; border: none;"><i style="color:red;" class="fa fa-minus-circle"></i></button>
            </th>
            <th class="col pure-control-group" style="display:none;">
                @Html.LabelFor(m => m.ServiceAccounts[i].Id)
                @Html.TextBoxFor(m => m.ServiceAccounts[i].Id)
                @Html.LabelFor(m => m.ServiceAccounts[i].RepositoryId)
                @Html.TextBoxFor(m => m.ServiceAccounts[i].RepositoryId)
            </th>
        </tr>
                    }
</table>
                    }

    </fieldset>

    <div class="pure-control-group">
        <button type="button" onclick=" newField(@Model.ServiceAccounts.Count);" class="pure-button pure-button-primary"> <i class="fa fa-plus-circle"></i> @Resources.SA_Add </button>
    </div>
    <fieldset class="pure-control-group" style="padding-top:10px;">
        <legend style="padding-top:30px;">
            @Resources.Dependencies
        </legend>

        <template id="Dependencyrow">
            <tr class="row Dependencies-details" id="Dependencies_{i}" name="Dependencies-details">
                <th class=" col pure-control-group" style="display:none;">
                    <label> @Resources.Dependencies_ID </label>
                    <input class="form-control" id="Dependencies[{i}].Id" name="Dependencies[{i}].Id" readonly disabled />
                </th>
                <th class="pure-control-group">
                    <div style="display:none;"> <input id="Dependencies_{i}__KnownDependency_ComponentName" name="Dependencies[{i}].KnownDependency.ComponentName" type="text" style="width: 250px;"></div>
                    <span class="field-validation-valid" data-valmsg-for="Dependencies[{i}].KnownDependency.ComponentName" data-valmsg-replace="true"></span>
                    <select class="dropDownKD valid" data-val="true" data-val-required="The KnownDependenciesId field is required." id="Dependencies_{i}__KnownDependenciesId" name="Dependencies[{i}].KnownDependenciesId" onchange="javascript: DisplayComponentNameNewInputField(this.id)" style="width: 250px" aria-required="true" aria-invalid="false">
                        @{
                            var dependencies = Model.Dependencies; //existing KD in repo
                            if (Model.KnownDependencies != null)
                            {
                                <option></option>
                                //display first empty
                                //create a dict using the var depen.
                                Dictionary<string, string> DependenciesDictionary = new Dictionary<string, string>();
                                foreach (var Dependency in Model.Dependencies) //existing repo
                                {
                                    DependenciesDictionary.Add(Dependency.KnownDependenciesId.ToString(), Dependency.KnownDependenciesId.ToString());
                                }
                                foreach (var knownDependency in Model.KnownDependencies) //all pre-existing
                                {
                                    if (DependenciesDictionary.ContainsKey(knownDependency.Id.ToString()))
                                    {
                                        <option disabled value="@knownDependency.Id.ToString()">@knownDependency.ComponentName</option>
                                    }
                                    else
                                    {
                                        <option value="@knownDependency.Id.ToString()">@knownDependency.ComponentName</option>
                                    }
                                }
                            }
                        }
                    </select>
                    <div class="pure-control-group new-known-dependency" id="newKD-Dependencies_{i}__KnownDependenciesId">
                        <input class="pure-form valid" id="KDInputDependencies_{i}__KnownDependenciesId" type="text" onfocusout="checkIfKDExists(this.id)" style="width:250px;">
                        <button class="return-to-dropdown" type="button" id="{i}" onclick="returnToDropdownFromKDInput(this.id)" title="Return to Dropdown" style="background-color: white; border: none;"><i style="color:red;" class="fa fa-times-circle"></i></button>
                    </div>
                </th>
                <th class="col pure-control-group">
                    <input class="form-control" id="Dependencies_{i}__.VersionInUse" name="Dependencies[{i}].VersionInUse" />
                    <span class="field-validation-valid text-danger"
                          data-valmsg-for="Dependencies[{i}].VersionInUse"
                          data-valmsg-replace="true">
                    </span>
                </th>
                <th class="col pure-control-group">
                    <input class="form-control" type="date" id="Dependencies_{i}__.DateUpdated" name="Dependencies[{i}].DateUpdated" value="1/1/1900" />
                    <span class="field-validation-valid text-danger"
                          data-valmsg-for="Dependencies[{i}].DateUpdated"
                          data-valmsg-replace="true">
                    </span>
                </th>
                <th>
                    <button type="button" onclick="DepenremField(this.id);" id=" DependenciesBtn_{i}" title="Remove Dependency" style="background-color: white; border: none;"><i style="color:red;" class="fa fa-minus-circle"></i></button>
                </th>
            </tr>
        </template>


        <table class="pure-table pure-control-group bottom" id="dependencies-table">
            <tr>
                <th>@Resources.Account_Create_Name</th>
                <th>@Resources.Dependencies_VersionInUse</th>
                <th>@Resources.Dependencies_DateUpdated</th>
            </tr>
            @for (int i = 0; i < Model.Dependencies.Count; i++)
            {
                <tr class="row Dependencies-details" id="Dependencies_@i" name="Dependencies-details">
                    <th class="pure-control-group">
                        <div style="display:none;"> @Html.TextBoxFor(m => m.Dependencies[i].KnownDependency.ComponentName, htmlAttributes: new { @style = "width: 250px;" })</div>
                        @Html.ValidationMessageFor(m => m.Dependencies[i].KnownDependency.ComponentName)
                        @{
                            var knownDependenciesList = new SelectList(Model.KnownDependencies, "Id", "ComponentName", Model.Dependencies[i].KnownDependenciesId);

                            @Html.DropDownListFor(m => m.Dependencies[i].KnownDependenciesId, knownDependenciesList, new
                            {
                                @class = "dropDownKD",
                                @disabled = "disabled",
                                @style = "width: 250px; color: #6B6B6B;",
                                @onChange = "javascript: DisplayComponentNameNewInputField(this.id)"
                            });
                            var DepenId = Model.Dependencies[i].Id;
                        }
                    <th class="pure-control-group">
                        @Html.TextBoxFor(m => m.Dependencies[i].VersionInUse)
                        @Html.ValidationMessageFor(m => m.Dependencies[i].VersionInUse)
                    </th>
                    <th class="pure-control-group">
                        @{var depId = "Dependencies_" + i + "__.DateUpdated";
                            var formattedDate = "1900-01-01";
                            if (Model.Dependencies[i].DateUpdated != null)
                            {
                                var dateValue = Model.Dependencies[i].DateUpdated.ToString().Split('/');
                                formattedDate = dateValue[2].Substring(0, 4) + "-" + (dateValue[0].Length == 1 ? "0" + dateValue[0] : dateValue[0]) + "-" + (dateValue[1].Length == 1 ? "0" + dateValue[1] : dateValue[1]);
                            }
                        }
                            <input class="form-control" type="date" id="@depId" name="Dependencies[@i].DateUpdated" value="@formattedDate" />
                        @Html.ValidationMessageFor(m => m.Dependencies[i].DateUpdated)
                    </th>
                    <th>
                        <button type="button" onclick="DepenremField(this.id);" id=" DependenciesBtn_@i" title="Remove Dependency" style="background-color: white; border: none;"><i style="color:red;" class="fa fa-minus-circle"></i></button>
                    </th>
                    <th class="pure-control-group" style="display:none">
                        @Html.HiddenFor(m => m.Dependencies[i].Id);
                        @Html.HiddenFor(m => m.Dependencies[i].RepositoryId);
                        @Html.HiddenFor(m => m.Dependencies[i].KnownDependenciesId);
                    </th>
                </tr>
            }

        </table>
    </fieldset>

    <div class="pure-control-group">
        <button type="button" onclick="DepennewField(@Model.Dependencies.Count);" class="pure-button pure-button-primary"> <i class="fa fa-plus-circle"></i> @Resources.Dependencies_Add </button>
    </div>
    <div class="pure-controls">
        <a class="pure-button" href="@Url.Action("Tree", new { id = Model.Id, ServiceAccounts = Model.ServiceAccounts, Dependencies = Model.Dependencies })"><i class="fa fa-long-arrow-left"></i> @Resources.Repository_Edit_Back</a>
        <button type="submit" class="pure-button pure-button-primary save"><i class="fa fa-save"></i> @Resources.Repository_Edit_Submit</button>
    </div>
</fieldset>

        }
    </text>
}
<script src="~/scripts/ServiceAccountsEdit.js"></script>
<script src="~/scripts/DependenciesEdit.js"></script>
<script>
    function DisplayComponentNameNewInputField(dropDownID) {
        inputField = document.getElementById("KDInput" + dropDownID);
        dropDown = document.getElementById(dropDownID);
        selectedValue = dropDown[dropDown.selectedIndex].text;
        if (selectedValue == "Add New...") {
            $("#newKD-" + dropDownID).css("display", "inline-block");
            $("#" + dropDownID).css("display", "none");
            changeNameOfInput(inputField, dropDown, 1);
        }
    }

    function checkIfKDExists(inputID) {
        var inputField = document.getElementById(inputID);
        var newKDName = inputField.value;
        var dropDown = document.getElementById(inputID.slice(7));
        var exists = 0;
        for (j = 0; j < dropDown.options.length; j++) {
            if (newKDName == dropDown.options[j].text) {
                exists = 1;
                break;
            }
        }
        if (newKDName == "") {
            //alert("The new component name cannot be blank");
        } else if (exists == 1) {
            //if (window.confirm("the component name entered already exists")) {
            //    document.getElementById(inputID).focus();
            //} else {
            //    document.getElementById(inputID).focus();
            //}
            //window.confirm("the component name entered already exists");
            //alert("the component name entered already exists");
            //if (!alert("the component name entered already exists")) {
            //    document.getElementById(inputID).focus();
            //}
        } else {
            //changeNameOfInput(inputField, dropDown, 1);
            //addKDtoDropDown(i, newKDName, dropDown);
        }
    }

    function returnToDropdownFromKDInput(i) {
        dropDownID = "Dependencies_" + i + "__KnownDependenciesId";
        $("#" + dropDownID).css("display", "inline-block");
        $("#newKD-" + dropDownID).css("display", "none");

        document.getElementById("KDInput" + dropDownID).value = "";
        document.getElementById(dropDownID).selectedIndex = 0;

        changeNameOfInput(inputField, dropDown, 0);
    }

    function changeNameOfInput(inputField, dropDown, addNewSelected) {
        if (addNewSelected) {
            inputField.setAttribute("name", dropDown.name);
            dropDown.setAttribute("name", "");
        } else if (dropDown.name == "") {
            dropDown.setAttribute("name", inputField.name);
            inputField.setAttribute("name", "");
        }
    }
</script>


