@model List<Bonobo.Git.Server.Data.ServiceAccountWithRepoName>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Resources.Search_Service_Accounts_Title;
}

<h1>@ViewBag.Title</h1>    @*make viewbag title like tree view*@

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "pure-form" }))
{
    <p>
        @Html.TextBox("SearchDate", null, new { type = "date" })
        <input type="submit" value="@Resources.Search" class="pure-button pure-button-primary" />
    </p>
}

@{
    <table id="files" class="pure-table">
        <thead>
            <tr>
                <th>@Resources.ServiceAccount_RepoName</th>
                <th>@Resources.ServiceAccount_Name</th>   
                <th>@Resources.ServiceAccount_PassLastUpdated</th>
                <th>@Resources.ServiceAccount_PassLastUpdated</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count > 0)
            {
                foreach (Bonobo.Git.Server.Data.ServiceAccountWithRepoName serviceAccount in Model)
                {
                    <tr>
                        <td class="path">
                            @serviceAccount.RepositoryName
                        </td>
                        <td class="path">
                            @serviceAccount.ServiceAccountName
                        </td>
                        <td class="message">
                            @*@Convert.ToDateTime(serviceAccount.PassLastUpdated).Date.ToShortDateString()*@
                            @*@Convert.ToDateTime(serviceAccount.PassLastUpdated.ToString()).Date.ToShortDateString()*@
                            @serviceAccount.PassLastUpdated
                        </td>
                        <td class="date">
                            @serviceAccount.InPassManager
                        </td>
                        <td class="date">
                            @Html.ActionLink(" ", "Edit", new { id = serviceAccount.RepositoryId }, new { @class = "edit", title = Resources.Grid_Edit })
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

}

